form {
	margin-top: 1%;
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
	background: white;
	background-size: cover;
}
.form_regist {
	width: 40%;
	margin: auto;
	border: 1px solid black;
}
.form_input {
	min-width: 30%;
}
input[type="text"]::-webkit-input-placeholder {
	color: black;
}
input[type="password"]::-webkit-input-placeholder {
	color: black;
}